
@using ReactiveUI
@inherits ReactiveComponentBase<HomeViewModel>


<div class="main-menu container-fluid">
    <div class="row">
        <div class="col flex-fill center title-col">
            <div class="container-fluid title-box">
                <div class="row">
                    <div class="col">
                        <Image class="logo" Source="_content/Nabu.NetSim.UI/nabu.png" />
                        
                    </div>
                    <div class="col" style="margin: auto">
                        <ul class="list-group list-group-sm">
                            <li class="list-group-item"><Icon Name="IconName.SliderHorizontal"/>&nbsp;<a href="#" onclick="@(() => ViewModel!.ToggleSettings())">Adaptor Settings</a></li>
                            <li class="list-group-item"><Icon Name="IconName.Book"/>&nbsp;<a href="#" aria-disabled="@(!ViewModel!.AllAdaptorsCanStop)" onclick="@(() => ViewModel!.ToggleAllAdaptors())">@(ViewModel!.AllAdaptorsCanStop ? "Stop All Adaptors" : "Start All Adaptors")</a></li>
                            <li class="list-group-item"><Icon Name="IconName.Book"/>&nbsp;<a href="#" onclick="@(() => ViewModel!.ToggleLog())">@ViewModel!.LogButtonText</a></li>
                        </ul>
                    </div>
                </div>
                    
                <div class="row row-divider" />
                <Div Class="row" Visibility=@(!ViewModel!.SettingsVisible ? Visibility.Visible : Visibility.Invisible)>
                    <div class="col">Adaptor</div>
                    <div class="col">Status</div>
                    <div class="col">Source</div>
                    <div class="col">Image</div>
                </Div>
                <Virtualize TItem="SerialAdaptorSettings" Items="@ViewModel!.Serial">
                    <Div class="row" Visibility=@(!ViewModel!.SettingsVisible ? Visibility.Visible : Visibility.Invisible)>
                        <div class="col">
                            @context.Port
                        </div>    
                        <div class="col">@ViewModel!.AdaptorStatus(context)</div> 
                        <div class="col">@context.Source</div>
                        <div class="col">@(!string.IsNullOrWhiteSpace(context.Image) ? context.Image : string.Empty)</div>
                    </Div>
                </Virtualize>
                <Virtualize TItem="TCPAdaptorSettings" Items="@ViewModel!.TCP">
                    <Div class="row" Visibility=@(!ViewModel!.SettingsVisible ? Visibility.Visible : Visibility.Invisible)>
                        <div class="col">
                            TCP:@context.Port
                        </div>    
                        <div class="col">@ViewModel!.AdaptorStatus(context)</div> 
                        <div class="col">@context.Source</div>
                        <div class="col">@(!string.IsNullOrWhiteSpace(context.Image) ? context.Image : string.Empty)</div>
                    </Div>
                </Virtualize>
                <Div class="row" Visibility=@(ViewModel!.SettingsVisible ? Visibility.Visible : Visibility.Invisible)>
                    
                    <div class="row adpt-tray">
                        <AdaptorView ViewModel="@(ViewModel!)" />
                    </div>
                   
                </Div>    
                <div class="row row-divider" />
                <Div Class="row border-left" Visibility="@(ViewModel!.LogVisible ? Visibility.Visible : Visibility.Invisible)">
                    <div class="log-frame col flex-lg-column">
                        <div class="log-view flex-grow-0">
                            @foreach (var line in ViewModel!.Entries.ToArray())
                            {
                                <div>@line</div>
                            }
                        </div>
                    </Div>
                </Div>
                <Div Class="row row-divider" Visibility="@(ViewModel!.LogVisible ? Visibility.Visible : Visibility.Invisible)"/>
                <div class="row">
                    <ul class="list-group list-group-flush list-group-horizontal-sm">
                        <li class="list-group-item center"><small>NABUNetwork.com News</small></li>
                        @foreach (var (title,url) in ViewModel!.Headlines.Take(4))
                        {
                            <li class="list-group-item center"><small><a href="@url">@title</a></small></li>
                        }
                        <li class="list-group-item center"><small><a href="https://www.nabunetwork.com">More...</a></small></li>
                    </ul>
                </div>
                <div Class="row row-divider" />
            </div>
        </div>
    </div>          
</div>
 

<Modal @bind-Visible="@ViewModel.SelectorVisible">
    <ModalHeader>
        <ModalTitle>Load Program</ModalTitle>
        <CloseButton />
    </ModalHeader>
    <ModalBody>
        <Virtualize TItem="AdaptorSettings" Items="@ViewModel!.SelectorAdaptor">
            <Select TValue="string" @bind-SelectedValue="@context.Image">
                <option value=""></option>
                @foreach (var (displayName, name) in ViewModel!.AvailableImages)
                {
                    <option value="@name">@displayName</option>
                }
            </Select>
        </Virtualize>
    </ModalBody>
    <ModalFooter>
        <Button Class="btn btn-danger btn-small"
                Clicked="@(() => ViewModel!.ToggleSelector(null))">
            Close
        </Button>
    </ModalFooter>
</Modal>
@code {
    
}