
@using ReactiveUI
@inherits ReactiveComponentBase<HomeViewModel>


<div class="main-menu container-fluid">
    <div class="row">
        <div class="col flex-fill center title-col">
            <div class="container-fluid title-box">
                <div Class="row row-divider" />
                <div class="row">
                    <ul class="news list-group list-group-flush list-group-horizontal-sm">
                        <li class="list-group-item center"><small>NABUNetwork.com News</small></li>
                        @foreach (var (title,url) in ViewModel!.Headlines.Take(4))
                        {
                            <li class="list-group-item center"><small><a target="_blank" href="@url">@title</a></small></li>
                        }
                        <li class="list-group-item center"><small><a target="_blank" href="https://www.nabunetwork.com">More...</a></small></li>
                    </ul>
                </div>
                <div Class="row row-divider" /> 
                
                <div class="row">
                    <div class="col col-6">
                        <Image class="logo" Source="_content/Nabu.NetSim.UI/nabu.png" />
                        
                    </div>
                    <MenuView ViewModel="@ViewModel!.Menu" />
                </div>
                    
               <!-- <div class="row row-divider" />
                
                <Div class="row" Visibility=@ViewModel!.Menu.IsVisible(MenuPage.Settings)>
                    
                    <div class="row adpt-tray">
                        <AdaptorView ViewModel="@(ViewModel!)" />
                    </div>
                   
                </Div> -->
                  
                <div class="row row-divider" />
                <Div Class="row">
                    <div class="col">Adaptor</div>
                    <div class="col">Status</div>
                    <div class="col">Source</div>
                    <div class="col">Image</div>
                </Div>
                <Virtualize TItem="SerialAdaptorSettings" Items="@ViewModel!.Serial">
                    <Div class="row">
                        <div class="col">
                            @context.Port
                        </div>    
                        <div class="col">@ViewModel!.AdaptorStatus(context)</div> 
                        <div class="col">@context.Source</div>
                        <div class="col">@(!string.IsNullOrWhiteSpace(context.Image) ? context.Image : string.Empty)</div>
                    </Div>
                </Virtualize>
                <Virtualize TItem="TCPAdaptorSettings" Items="@ViewModel!.TCP">
                    <Div class="row">
                        <div class="col">
                            TCP:@context.Port
                        </div>    
                        <div class="col">@ViewModel!.AdaptorStatus(context)</div> 
                        <div class="col">@context.Source</div>
                        <div class="col">@(!string.IsNullOrWhiteSpace(context.Image) ? context.Image : string.Empty)</div>
                    </Div>
                </Virtualize>
                <div class="row row-divider" />
                
                <Div Class="row" Visibility="@(ViewModel!.LogVisible ? Visibility.Visible : Visibility.Invisible)">
                    <br/>
                    <div class="log-frame col flex-lg-column">
                        <div class="log-view flex-grow-0">
                            @foreach (var line in ViewModel!.Entries.ToArray())
                            {
                                <div>@line</div>
                            }
                        </div>
                    </Div>
                    <br/>
                </Div>
                <Div Class="row row-divider" Visibility="@(ViewModel!.LogVisible ? Visibility.Visible : Visibility.Invisible)"/>
                
            </div>
        </div>
    </div>          
</div>
