@inherits ReactiveInjectableComponentBase<AdaptorViewModel>

    <ListGroup Flush>
        <Repeater TItem="AdaptorSettings" Items="AdaptorList">    
            <ListGroupItem @key=@context>
                <Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
                    <Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom">
                        <button class="btn @(ViewModel?.AdaptorStatus(context) == "Running" ? "btn-success" : "btn-primary")" onclick="@(() => { ViewModel?.Menu.SetSelected(context); })" title="Adaptor Settings">
                            @if (context is TCPAdaptorSettings)
                            {
                                <Icon IconSize=@IconSize.Large Name="IconName.Wifi" />
                            }
                            else
                            {
                                <Icon IconSize=@IconSize.Large Name="IconName.Plug" />
                            }
                        </button>
                        @context.Port
                    </Heading>
                    <button type="button" class="btn @(ViewModel?.AdaptorStatus(context) == "Running" ? "btn-danger" : "btn-success")" onclick="@(() => ViewModel?.Home.ToggleAdaptor(context))">
                        <Icon Name="@(ViewModel?.AdaptorStatus(context) == "Running" ? IconName.Stop : IconName.Play)" title="@ViewModel?.AdaptorButtonText(context)" />
                    </button>
                </Div>
                <Paragraph Class="top-sm" Margin="Margin.Is1.FromBottom">
                    <Icon IconSize="@IconSize.Large" Name="IconName.Folder" />
                    @context.Source/@(!string.IsNullOrWhiteSpace(context.Image) ? context.Image : "Main")
                </Paragraph>
            </ListGroupItem>
        </Repeater>
    </ListGroup>
