@using System.Web;
@inherits ReactiveInjectableComponentBase<HeadlineViewModel>

<HeaderView Icon="@("fa-newspaper")"
            Heading="Nabu News"
            ShowButton=true
            ButtonTitle="Collapse"
            ButtonIconName="IconName.MinusCircle"
            OnButtonClick=@(() => { ViewModel.ExpandCollapseNews(); }) 
            Visibility="@ViewModel.ExpandedVisibility" />
<ListGroup Flush Visibility="@ViewModel.ExpandedVisibility" Style="max-width: 600px">
     <Virtualize TItem="TickerItem" Items="ViewModel!.Headlines">
         <ListGroupItem>
             <small>
                 <Div>
                     <Small><a target="_blank" href="@context?.Link"><h6>@context?.Title</h6></a></Small>
                 </Div>
                 <Div>
                     @HttpUtility.HtmlDecode(context.Description)
                 </Div>
             </small>
         </ListGroupItem>
     </Virtualize>
 </ListGroup>

<HeaderView Icon="@("fa-newspaper")"
            Heading="Nabu News"
            ShowButton=true
            ButtonTitle="Expand"
            ButtonIconName="IconName.PlusCircle"
            OnButtonClick=@(() => { ViewModel.ExpandCollapseNews(); }) 
            Visibility="ViewModel.CollapsedVisibility"/>
 <ListGroup Flush Visibility="ViewModel.CollapsedVisibility">
     <Repeater TItem="TickerItem" Items="ViewModel.Headlines">
         <ListGroupItem>
             <Small>
                 <Div>
                     <a target="_blank" href="@context?.Link">@context?.Title</a>
                 </Div>
             </Small>
         </ListGroupItem>
     </Repeater>
 </ListGroup>
 <br/>
<Div style="text-align: center">
    <p>
        <small>
            Got NABU?
        </small>
    </p>
    <a class="btn btn-primary btn-sm"
       target="_blank"
       href="https://www.youtube.com/results?search_query=nabu+pc"
       data-bs-toggle="tooltip"
       title="Search YouTube for NABU Videos">
       <small>NABU Videos</small>
    </a>
    <a class="btn btn-primary btn-sm" 
        target="_blank" 
        href="https://www.nabunetwork.com" 
        data-bs-toggle="tooltip" 
        title="Visit NABUNetwork.com">
        <small>NabuNetwork.com</small>
    </a>
    <a class="btn btn-primary btn-sm"
       target="_blank"
       href="https://www.nabunetwork.com"
       data-bs-toggle="tooltip"
       title="Visit NABU.ca">
        <small>NABU.ca</small>
    </a>
    <a class="btn btn-primary btn-sm"
       target="_blank"
       href="https://vcfed.org/"
       data-bs-toggle="tooltip"
       title="Visit vcfed.org!">
        <small>VCF Community</small>
    </a>
</Div>


