@using System.Web;
@inherits ReactiveInjectableComponentBase<HomeViewModel>

<Div Visibility=@(ViewModel!.Loaded ? Visibility.Visible : Visibility.Invisible)>
    <Div Class="sticky-top" Style="height: 30px; background-color: var(--background)"></Div>
    <Container Style="min-height: 500px">
        <Row>
            <Column ColumnSize="ColumnSize.Is2">
                <div class="logo sticky-top sticky-padded-top">
                    <Image class="logo" Source="_content/Nabu.NetSim.UI/images/nabu.png" />
                </div>
            </Column>
            <Column ColumnSize="ColumnSize.Is1">
                <ButtonTrayView />
            </Column>
            <Column Class="top-sm" Visibility="@(ViewModel!.IsVisible(VisiblePage.Adaptors))">
                <StatusView />
            </Column>
            <Column Class="top-sm" Visibility="@(ViewModel!.IsVisible(VisiblePage.Adaptors))">
                <HeadlineView />
            </Column>
            <Column Class="top-sm" Style="min-height: 50%" Visibility="@(ViewModel!.IsVisible(VisiblePage.AdaptorSettings))">
                <AdaptorSettingsView OnClose="@((adaptor) => {})" />
            </Column>
            <Column Class="top-sm" Style="min-height: 50%" Visibility="@(ViewModel!.IsVisible(VisiblePage.AdaptorSettings))">
                <FilesView />
            </Column>
            <Column ColumnSize=ColumnSize.Is9 Class="top-sm" Style="min-height: 50%" Visibility="@(ViewModel!.IsVisible(VisiblePage.Logs))">
                <LogView />
            </Column>
            <Column Class="top-sm" Style="min-height: 50%" Visibility="@(ViewModel!.IsVisible(VisiblePage.Packages))">
                <PackagesView />
            </Column>
            <Column Class="top-sm" Style="min-height: 50%" Visibility="@(ViewModel!.IsVisible(VisiblePage.Packages))">
                <AvailablePackagesView />
            </Column>
            <Column ColumnSize=ColumnSize.Is3 Style="min-height: 50%" Visibility="@(ViewModel!.IsVisible(VisiblePage.Files))">
                <FolderListView />
            </Column>
            <Column Class="top-sm" ColumnSize=ColumnSize.Is4 Style="min-height: 50%" Visibility="@(ViewModel!.IsVisible(VisiblePage.Files))">
                <FilesView />
            </Column>
            <Column Width="Width.Is100" Class="top-sm" Style="min-height: 50%" Visibility="@(ViewModel!.IsVisible(VisiblePage.Settings))">
                <SettingsView />
            </Column>
           
        </Row>
    </Container>
</Div>
   

<Div Visibility=@(ViewModel!.Loaded ? Visibility.Invisible : Visibility.Visible) Class="loading-phrase align-middle">
    <center>@(ViewModel.Phrase)</center>
</Div>