@inherits ReactiveInjectableComponentBase<LogViewModel>

<HeaderView Icon="@IconName.BookReader"
            Heading="Log"/>

<ListGroup Flush Class="sticky-top sticky-padded-top">
    <ListGroupItem Style="padding: 0px;">
        <Div Flex="Flex.JustifyContent.Between">
            <Div Class="hstack gap-3" Style="width: 30%">
                <Div Class="input-group">
                    <Button Class="btn btn-primary" Disabled=ViewModel!.IsActivePage(1) @onclick="@ViewModel.PageBack">
                        <Icon Name="IconName.ArrowLeft" />
                    </Button>
                    <Select TValue="int" @bind-SelectedValue="@ViewModel.Page">
                        <Repeater TItem="int" Items="@(Enumerable.Range(1, ViewModel.PageCount))">
                            <SelectItem @key=context Value="context">@(context)</SelectItem>
                        </Repeater>
                    </Select>
                    <Select TValue="int" @bind-SelectedValue="@ViewModel.PageSize">
                        <SelectItem Value="100">100</SelectItem>
                        <SelectItem Value="200">200</SelectItem>
                        <SelectItem Value="500">500</SelectItem>
                        <SelectItem Value="1000">1000</SelectItem>
                    </Select>
                    <Button Class="btn btn-primary" Disabled=ViewModel.IsActivePage(ViewModel.PageCount) @onclick="@ViewModel.PageForward">
                        <Icon Name="IconName.ArrowRight" />
                    </Button>
                </Div>
            </Div>
            <Div>
                <Div Class="input-group">
                    <TextEdit @bind-Text="@ViewModel.Search" Placeholder="Search..." />
                    <Button Disabled=@(ViewModel.Search == string.Empty) Class="btn-primary" @onclick=@ViewModel.ClearSearch>
                        <Icon IconSize=@IconSize.Large Name="IconName.Clear" />
                    </Button>
                </Div>
            </Div>
        </Div>
        
    </ListGroupItem>
</ListGroup>
<br/>
    <!--<Virtualize TItem="IGrouping<LogKey, LogEntry>" Items="ViewModel.CurrentPage" OverscanCount="50">-->
<Div Style="font-family:  var(--bs-font-monospace); font-size: 9pt">
    <Repeater TItem="string" Items="ViewModel.CurrentPage">
        <Div>
            <Highlighter Text="@(context)" HighlightedText="@ViewModel.Search" />
        </Div>
    </Repeater>
</Div>







        
