@using Nabu.Packages;
@using Napa;
@inherits ReactiveInjectableComponentBase<PackagesViewModel>
<HeaderView Icon="@("fa-box")"
            Heading="Installed"></HeaderView>

<ListGroup Flush>
    <Virtualize TItem="InstalledPackage" Items="ViewModel.InstalledPackages">
        <ListGroupItem @key=context>
            <Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
                <Div Class="hstack gap-3">
                    <Span data-bs-toggle="tooltip"
                          title="Uninstall">
                        <Button Type="ButtonType.Button" 
                                Class="btn btn-warning" 
                                Disabled=@ViewModel.IsDisabled(context.Id)
                                onclick="@(() => ViewModel.StageUninstallPackage(context.Id))">
                            <Icon Name="@IconName.Delete" />
                        </Button>
                    </Span>
                    <Heading Size="HeadingSize.Is6" Margin="Margin.Is1.FromBottom">
                        @context.Name
                    </Heading>
                </Div>
                <Small TextAlignment="TextAlignment.End">
                    <Div>@context.Version</Div>
                    <Div>by @context.Author</Div>
                </Small>
            </Div>
            <Paragraph Margin="Margin.Is1.FromBottom">
                @context.Description
            </Paragraph>
        </ListGroupItem>
    </Virtualize>
</ListGroup>



