<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code {
    private Theme theme = new Theme
    {
        // theme settings
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#5455ed",
            Secondary = "#cccccc",
            Success = "#21b03b",
            Info = "#21b03b",
            Warning = "#d4c154",
            Danger = "#fc5554",
            Light = "#7d75fc",
            Dark = "#5455ed",
        }
    };

    /*
        Boot Blue : 7d75fc
        Menu Blue : 5455ed
        Menu Almost Boot Blue: 7d76fc

        Menu Green : 21b03b <-- Success
        Menu Red : fc5554 <-- DANGER
        Menu Cyan : 42ebf5

        Idle Grey : cccccc
        Idle Yellow : d4c154 <-- WARN
    */

}